

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 1 days
	debugger: false


services:
	authenticator: App\Model\MyAuthenticator 
	router: App\RouterFactory::createRouter
	- App\Model\ForgottenPasswordLogic
	- App\Model\Mailer
	- App\Model\HomepageLogic
	- App\Model\InfoLogic
	- App\Model\SignLogic
	- App\Model\UserAdministrationLogic


database:
	dsn: 'mysql:host=93.184.77.241;dbname=xs025403db'
	user: xs025400
	password: webuzude


