# Auto detect text files and perform LF normalization
phpProjects/NetteProjects/rootOfElement(version 3.0)/www/* linguist-vendored
phpProjects/NetteProjects/rootOfElement(version 3.0)/js/* linguist-vendored
