<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        p {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>


<p>Otázka č. {$questionNumber}</p>

<p>{$supportText}</p>

</body>
</html>